---
import profilePic from "../assets/profile-pic.webp";
---

<div id="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Dr. Roberto Estrada</h1>
      <p class="hero-subtitle">Ginecólogo & Obstetra</p>
      <p class="hero-description">
        Atención integral en salud de la mujer con más de 20 años de
        experiencia.
      </p>
      <div class="hero-buttons">
        <a
          href="https://wa.me/523411078535?text=Hola%20Dr.Estrada,%20quisiera%20agendar%20cita"
          class="button-cta"
          target="_blank"
          rel="noopener noreferrer">Agendar Cita</a
        >
        <a href="#services" class="button-secondary">Nuestros Servicios</a>
      </div>
    </div>
    <div class="hero-profile-pic">
      <img src={profilePic.src} alt="Foto del Dr. Roberto Estrada" />
    </div>
    <div class="hero-social-btns">
      <a
        href="https://wa.me/523412051145?text=Hola%20Dr.%20Estrada,%20me%20gustaría%20agendar%20una%20cita"
        class="btn-social"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.3157 15.5611L16.9496 14.2002C17.0736 13.934 16.9617 13.6209 16.6928 13.4815L15.7537 12.9948C15.5214 12.8744 14.6252 12.4743 14.3833 12.5746L13.0091 13.3349L12.7334 13.1722C12.1405 12.8169 11.3796 12.3564 10.8319 11.8472C10.608 11.639 10.5787 11.3162 10.7188 11.0497L11.1768 10.1784C11.2588 9.99259 10.8198 9.04045 10.5134 8.44999C10.3648 8.16364 10.0593 8 9.72355 8L9.00396 8C8.34678 8 7.72187 8.28317 7.28471 8.77386C7.18886 8.88144 7.10635 8.97356 7.05707 9.02757C7.02839 9.059 7.00426 9.09411 6.98632 9.13269V9.13269C6.67141 9.80981 6.56917 10.5852 6.86243 11.2719C7.98128 13.8921 10.671 15.7533 13.8212 16.6786C14.5199 16.8838 16.0195 16.197 16.3157 15.5611Z"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C10.5124 21 9.10904 20.6391 7.8728 20C7.10187 19.6015 4.12089 21.5948 3.5 21C2.88698 20.4128 4.6319 17.2397 4.20404 16.5C3.43827 15.1762 3 13.6393 3 12Z"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a
        href="https://www.instagram.com/drrobertoestradadelaf/"
        class="btn-social"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect
            x="2"
            y="2"
            width="20"
            height="20"
            rx="5"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></rect>
          <circle
            cx="12"
            cy="12"
            r="4"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></circle>
          <path
            d="M18 6L18 6.01"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a
        href="https://www.facebook.com/drestradadelafuente"
        class="btn-social"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 22H13V14H15.8787L17 10H13V7.00004C13 6.44776 13.4477 6.00004 14 6.00004H17V2C9 1.49998 9 4.50001 9 10H6V14H9V22Z"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a
        href="https://www.doctoralia.com.mx/roberto-eliseo-estrada-de-la-fuente/ginecologo/ciudad-guzman"
        class="btn-social"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="svg1"
          viewBox="0 0 380.53 380"
          ><g id="g1" transform="translate(-10 -10)"
            ><path
              id="path3"
              d="M171.583 10c-7.28.157-16.888 8.596-18.282 15.909-4.288 12.036-6.176 101.367-10.837 103.717-31.565-6.156-58.008-15.865-89.573-22.02-10.367-2.638-22.763 3.415-25.676 11.673L11.56 170.177c-4.362 8.99.923 25.012 9.726 30.277l65.396 29.69c6.634 3.916 23.342-.854 27.555-7.4 21.128-18.077 39.74-33.39 63.4-48.933 14.494-8.343 28.337-19.347 42.83-25.756 8.49-3.774 20.419-11.758 29.065-14.437 3.66-1.66 5.93-5.327 5.484-10.137-2.385-31.12-4.09-63.304-7.309-94.343-.648-6.248-6.332-17.231-19.143-18.7zm47.73 25.553c3.15.488 3.446 3.235 4.229 6.032l5.254 73.292c.174 2.429-4.154 8.064-5.831 8.9-13.101 5.133-17.826 7.832-30.764 13.946-16.298 7.616-32.887 17.199-46.572 26.938-16.962 12.467-31.18 24.398-46.86 37.988-3.097 2.99-3.376 3.898-7.404 1.869l-52.182-24.165c-4.315-2.02-2.953-2.525-2.25-7.083l11.244-38.389c1.144-2.864 2.503-2.435 5.434-1.78l84.357 21.123c12.577 2.59 29.87-8.096 31.713-24.28l6.874-88.191c.37-2.142 5.99-6.435 8.823-6.115zm132.944 71.355c-27.719 2.95-60.057 12.03-83.983 18.996-26.703 9.166-50.494 25.164-73.973 39.857-25.344 13.665-45.301 30.181-63.278 45.856C113.416 230.725 95.88 248 79.51 271.649l-24.275 39.903c-6.204 9.424-6.54 24.978 6.28 33.761l58.256 41.666c7.734 5.298 24.13 4.29 30.3-8.37l34.654-52.002c7.962-11.116 17.67-22.332 27.416-33.123 28.063-28.269 53.791-50.202 93.878-69.746 21.89-10.225 47.335-18.777 71.511-25.083 9.72-3.84 15.411-18.694 12.009-25.774l-18.285-54.863c-4.008-6.256-14.51-10.906-18.997-11.11m-1.39 28.362 11.367 35.166c1.043 3.077 1.216 5.929-2.515 7.225-22.508 6.324-34.535 9.99-54.934 19.396-46.729 21.885-88.32 52.979-115.716 83.892-20.234 25.399-38.035 48.244-54.356 74.62-2.494 4.631-4.834 8.6-8.472 5.474L80.298 327.76c-5.002-3.408-1.803-5.943.795-10.323 10.12-19.48 18.948-30.81 31.639-47.719 10.338-12.689 19.93-24.056 31.729-35.285 57.882-54.624 118.888-86.302 197.327-101.116 3.988-.84 8.358-1.058 9.08 1.953m-78.64 108.962c-8.471 6.587-20.22 13.214-28.03 21.518-9.855 8.853-21.795 19.023-29.314 30.475-7.305 8.586-6.89 19.921-1.423 28.744l50.402 58.408c5.502 5.729 17.84 10.496 27.727 1.597l43.9-33.952c6.836-6.53 8.792-17.342 4.68-25.528l-47.633-79.926c-8.27-6.313-13.094-6.006-20.31-1.336m6.67 27.259 34.47 58.716c2.5 3.675 2.15 4.397-.027 6.224l-28.505 22.252c-3.195 2.553-7.727 1.76-9.943-1.044l-36.142-41.612c-3.529-5.587-3.92-5.62.707-11.045 19.904-27.996 20.404-25.476 32.101-35.96 1.634-1.299 5.661-.3 7.34 2.469z"
            ></path></g
          ></svg
        >
      </a>
    </div>
  </div>

  <style>
    #hero {
      background: var(--bg-light);
      padding: clamp(2rem, 5vw, 6rem) 0;
    }

    .hero-container {
      width: clamp(300px, 80vw, 1440px);
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1.125fr auto;
      gap: 1.5rem;
      align-items: center;
      justify-items: center;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding-right: 2rem;
    }

    .hero-title {
      margin-bottom: 1rem;
    }

    .hero-subtitle {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: clamp(1.5rem, 4vw, 2rem);
      margin-bottom: 1rem;
      color: var(--text-dark);
    }

    .hero-description {
      font-size: clamp(1rem, 2.25vw, 1.5rem);
      color: var(--text-light);
    }

    .hero-buttons {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;

      a {
        font-size: clamp(0.625rem, 3.75vw, 1.25rem);
        padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1rem, 1.5vw, 2rem);
        text-align: center;
        text-wrap: nowrap;
      }

      .button-cta {
        background-color: var(--accent-color);
        color: var(--bg-light);
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition:
          background-color 0.2s,
          transform 0.2s;
      }

      .button-cta:hover {
        background-color: var(--accent-light);
      }

      .button-cta:active {
        transform: scale(0.97);
      }

      .button-secondary {
        background-color: transparent;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 30px;
        cursor: pointer;
        transition:
          background-color 0.2s,
          transform 0.2s,
          color 0.2s;
      }

      .button-secondary:hover {
        background-color: #f3f4f6;
        border-color: var(--primary-color);
        color: var(--primary-color);
      }

      .button-secondary:active {
        background-color: #e5e7eb;
        transform: scale(0.97);
      }
    }

    .hero-profile-pic img {
      width: 100%;
      max-width: 600px;
      border-radius: 5%;
      display: block;
      margin: 0 auto;
    }

    .hero-social-btns {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      background-color: #f8f8f8;
      padding: 1.5rem 0;
      border-radius: 30px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }

    .hero-social-btns .btn-social {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: clamp(0.875rem, 2.5vw, 1rem);
      height: clamp(3rem, 6vw, 4rem);
      width: clamp(3rem, 6vw, 4rem);
      border-radius: 50%;
      transition:
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.3s;

      &:hover {
        transform: translateY(-3px) scale(1.05);
        background-color: #f0f0f0;
      }

      &:active {
        transform: scale(0.97);
        background-color: #e0e0e0;
      }
    }

    .hero-social-btns .btn-social svg {
      width: 2rem;
      height: 2rem;
      transition: fill 0.3s;
      stroke: #000;
    }

    /* #doctoralia-logo {
    stroke-width: 5px;
    width: 1.9rem;
    height: 1.9rem;
  } */

    @media (max-width: 1024px) {
      .hero-container {
        grid-template-columns: minmax(auto, 50%) 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          "content profile-pic"
          "social-btns profile-pic";
      }

      .hero-content {
        grid-area: content;
        max-width: 100%;
      }

      .hero-profile-pic {
        grid-area: profile-pic;
      }

      .hero-profile-pic img {
        width: 100%;
        max-width: none;
      }

      .hero-buttons {
        flex-direction: column;
        align-items: stretch;
      }

      .hero-buttons a {
        width: 100%;
        text-align: center;
      }

      .hero-social-btns {
        grid-area: social-btns;
        flex-direction: row;
        align-self: start;
        justify-self: start;
        padding: 0rem 1rem;
      }
    }

    @media (max-width: 768px) {
      .hero-container {
        grid-template-areas: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        text-align: center;
      }

      .hero-content,
      .hero-profile-pic,
      .hero-social-btns {
        grid-area: auto;
      }

      .hero-profile-pic {
        width: 90%;
      }

      .hero-buttons {
        flex-direction: row;
        align-items: start;
      }

      .hero-social-btns {
        flex-direction: row;
        justify-self: center;
      }

      .hero-content {
        text-align: left;
        padding: 0;
      }
    }
  </style>
</div>
